@model DatabaseModel

<h2>Create Database Product</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.EditorForModel()
    </div>

    <div>
        <input type="submit" value="Create" />
    </div>
}
